<!DOCTYPE html>

{% load staticfiles %} <!-- New line -->

<html>

    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Rango says... </h1>

        <div>
            hey there partner! <br />
            <strong>{{ boldmessage }}</strong><br />
        </div>

        <div>
            <a href="/rango/about/">About</a><br />
            <img src="{% static 'images/train.jpg' %}"
                alt="Not a picture of rango" /> <!-- New line -->
                <p>f/20, 1/20s, ISO 125, 50mm, Sony A6400, Glasgow city centre, 2025-02-02, by Jimi Hamilton.</p>
        </div>
    </body>
</html>